.text-decorator-none{
    text-decoration: none;
}

.bannerTema{
    width: 90vw;
  margin-left: 4%;
  margin-top: 2%;
}

.button-delete{
  background-color: red !important;
  color:wheat !important;
  font-weight: bold !important;
}